@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.route {
  position: relative;
}

.current-route::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #FFE590;
  left: -15px;
  top: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}